<div class="d-flex vh-100 align-items-center justify-content-sm-center">
  <div class="text-center">
    <img
      src="assets/images/logo2.png"
      width="300"
      height="300"
      class="rounded-circle"
    />

    <div class="form-signin">
      <h1 class="mb-3">Smart Job - Uma nova maneira de renda extra</h1>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg">
          Cadastre-se
        </button>
        <button type="button" class="btn btn-secondary btn-lg">Entrar</button>
      </div>
    </div>
  </div>
</div>
